body{
    padding: 0px;
    margin: 0px;
}

.shopinformation{
    display: flex;
    flex-direction: row;
    background-color: #D5B9FA;
    opacity: 0.8;
}

.shopinformationinput{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
}

.inpt{
    padding: 6px;
    margin: 10px;
    border-radius: 5px;
    border: 0.2px solid black;
    /* width: 300px; */
}

.textbox{
    height: 70px;
}

.btn{
    font-size: 24px;
    margin-left: 10px;;
}

.addoninput{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagealternator{
    margin: 20px;
    width: 50%;
}

.imagealternator img{
    height: 500px;
    border-radius: 8px;;
}