body{
    padding: 0px;
    margin: 0px;
}

.bannercreateshop{
    height: 100px;
    background-color: black;
    opacity: 0.85;
}

.shopinformation{
    display: flex;
    flex-direction: column;
    opacity: 0.8;
}

.shopinformationinput{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.inpt{
    padding: 6px;
    margin: 10px;
    border-radius: 5px;
    border: 0.2px solid black;
    /* width: 300px; */
}

.textbox{
    height: 70px;
}

.btncreate{
    font-size: 24px;
    margin-left: 10px;;
}

.addoninput{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imagealternator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.imagealternator img{
    width: 60%;
    height: 90%;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    .imagealternator{
        height: 300px;
    }
}

.shop-icon-container {
    position: relative;
}
  
.shop-icon {
    position: absolute;
    top: -80px;
    left: -500px; 
}

.shop-icon img {
    width: 40%;
    border-radius: 100%
}

