@import url('https://fonts.google.com/specimen/Cormorant+Garamond&display=swap');

.dashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 8px;
    font-family: 'Cormorant Garamond';
}

.companyname{
    font-size: 1.8rem;
    font-weight: bold;
}

.dashboardlinks{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}

.btn{
    padding-right: 50px;
}

.btn:hover{
    cursor: pointer;
}

.userlogo{
    width: 40px;
    border-radius: 40px;
}