.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .loader-circle {
    width: 60px;
    height: 60px;
    border: 6px solid black;
    border-top: 6px solid #fff;
    border-radius: 50%;
  }
  