.mobilenavbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 70px;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 20px;
    backdrop-filter: blur(8px);
}

.icn {
    font-size: 40px;
}

/* Adjust for smaller screens */
@media only screen and (max-width: 600px) {
    .mobilenavbar {
        padding: 10px;
    }

    .icn {
        font-size: 40px;
    }
}
