.input-field{
    border-radius: 5rem;
    border: 1px solid #9747FF;
    padding: .5rem 2rem;
    width: 15vw;
}

.input-field::placeholder {
    color: black; /* Set your desired color here */
}

.input-field:hover{
    border: 1px solid #FC8019;
}

.suggestions{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.suggestion{
    background-color: #9747FF;
    border-radius: 5px;
    z-index: 1;
    cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .input-field{
        width: 30vw;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}